@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #004DB3,#197DFF,#004DB3);
}
main{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #004DB3;
    width: 600px;
    padding: 10px;
    margin:auto
}
h1{
    color: #FFA600;
    text-align: center;
    text-shadow:1px 1px 2px #013766af;
}
h2{
    color: #B37400;
}
p{
    text-align: justify;
}