@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header{
    background-color: lightgray;
}

header > h1{
    text-align: center;
    
}

menu{

}

menu ul{
    background-color: gray;
    list-style-type: none;
}

menu li{
    background-color: rgb(73, 73, 73);
    display: inline-block;
    padding: 10px;
}

menu li:hover{
    background-color: black;
    transform: translate(2px ,2px);
}

li > a{
    color: white;
    text-decoration: none;
}

article{
    max-width: 600px;
    margin: auto;
    display: block;
}