@charset "UTF-8";
body{
    background-image: linear-gradient(to left,#adadad,white, rgb(197, 197, 197) )  ;
    font-family: 'Square Peg', Helvetica, sans-serif;
}
h1{
    color: rgb(0, 37, 25);
}
h1#principal{
    text-align: center;
    background-color: #1E471D;
    color: white;
    font-family: 'Ms Madi', 'cursiva','Times New Roman', Times, serif;
}
h2{
    color: rgb(0, 136, 91);
    font-weight: bolder;
}
.basico{
    color: rgb(71, 117, 1);
}
.intermediario{
    color: darkorange;
}
.avancado{
    color: red;
}