@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
   background-color: rgb(179, 179, 179); 
   margin: 0px;
}
header{
background-color: white;
padding: 10px;
margin: 10px;
}
nav{
    background-color: rgb(131, 131, 131);
    padding: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.322);
}
nav > a{
    padding-right: 40px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
nav > a:hover{
    text-decoration: underline;
}

main{
background-color: white;
margin: 10px;
padding: 10px;
border-radius: 10px;
box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.322);
}
article{
    background-color: lightgray;
    padding: 3px;
}
article > aside{
    background-color: rgb(172, 172, 172);
}
footer{
background-color: black;
color: white;
text-align: center;
padding: 5px;
}
footer > p{
    margin: 0px;
}
div#bola{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    background-color: white;
}